<table border="1">
    <tr>
        <td>
            <input type="text" value="hello">
            {{{text}}}
        </td>
        <td>
            <button>hello</button>
            {{{text}}}
        </td>
        <td>
            <textarea>hello</textarea>
            {{{text}}}
        </td>
        <td>
            <a href="123">hello</a>
            {{{text}}}
        </td>
        <td>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            {{{text}}}
        </td>

    </tr>


</table>