<table id="nested" border="1" cellspacing="3" cellpadding="8">
    <tr>
        <td>one</td>
        <td>
            <table border="1" cellspacing="3" cellpadding="8">
                <tr>
                    <td>two</td>
                    <td>
                        <table border="1" cellspacing="3" cellpadding="8">
                            <tr>
                                <td>three</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <td>
        <td>four</td>
    </tr>
    <tr>
        <td>one</td>
        <td>
            <table border="1" cellspacing="3" cellpadding="8">
                <tr>
                    <td>two</td>
                    <td>
                        <table border="1" cellspacing="3" cellpadding="8">
                            <tr>
                                <td>three</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        <td>
        <td>four</td>
    </tr>
</table>

{{{text}}}
