<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>3</td>
        <td>04/12/2016</td>
        <td>$0.11</td>
    </tr>
    <tr>
        <td>10</td>
        <td>04/14/2016</td>
        <td>$0.21</td>
    </tr>
    <tr>
        <td>5</td>
        <td>04/19/2016</td>
        <td>$0.27</td>
    </tr>
    <tr>
        <td>10</td>
        <td>04/19/2016</td>
        <td>$0.34</td>
    </tr>
    <tr>
        <td>2</td>
        <td>04/20/2016</td>
        <td>$0.68</td>
    </tr>
    <tr>
        <td>2</td>
        <td>04/20/2016</td>
        <td>$0.23</td>
    </tr>
    <tr>
        <td>5</td>
        <td>04/19/2016</td>
        <td>$0.22</td>
    </tr>
    </tbody>
</table>

{{{text}}}
