<table border="1">
    <tr>
        <td>hello</td>
        <td>world</td>
        <td><a href="/raw/simple">link relative</a></td>
    </tr>
    <tr>
        <td>row2</td>
        <td>cell 2.2</td>
        <td><a href="../raw/simple">link relative 2</a></td>
    </tr>
    <tr>
        <td><img src="/img/a.png"></td>
        <td>image a</td>
        <td><a href="https://upload.wikimedia.org/wikipedia/en/e/ee/Russian_blue_head_sm.jpg">link absolute</a></td>
    </tr>
    <tr>
        <td><img src="/img/b.png"></td>
        <td>image b</td>
    </tr>
    <tr>
        <td><img src="/img/c.png"></td>
        <td>image c</td>
    </tr>
    <tr>
        <td><img src="https://upload.wikimedia.org/wikipedia/en/e/ee/Russian_blue_head_sm.jpg"></td>
        <td>external img</td>
    </tr>


</table>