$border: #f0f0f0
$body: #777
$link: #999
$accent: #1e88ff
$hot: #f0a340
$button: #eaeaea

$i: !important
$no-trans: all 0s 0s $i

body[data-copytables-wait],
body[data-copytables-wait] *
    cursor: wait  $i

[data-copytables-selected]:not([data-copytables-locked])
    background: Highlight $i
    transition: $no-trans

[data-copytables-marked]:not([data-copytables-locked])
    background: Highlight $i
    transition: $no-trans

$ib-unit: 6px
$ib-cross: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAYAAADwikbvAAAAkElEQVR42mL4//8/AxAn/IeABCgfFzYA4g9AvADEhwkggwQCGmGgACaxgIAB6BovALEAsgJcBmDVCHM2PgMacGnEphmbAVg14tIMwhvQND5A14hLM7ofccYCIY0f8BlAMDrwRSMhjXijESShQEAjLgMCGKAKLxDQiG4AyDIDmKAANEEIEMgYIFwA9SYDQIABAEp1zLJFcE8CAAAAAElFTkSuQmCC'

html > body > div.__copytables_infobar__
    position: fixed $i
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif $i
    z-index: 2147483647 $i
    background: rgba($accent, 0.95) $i
    padding-top: $ib-unit * 2  $i
    padding-bottom: $ib-unit * 2  $i
    opacity: 0  $i
    visibility: hidden  $i
    transition: opacity 0.5s, visibility 0s 0.5s  $i

    &.__copytables_infobar__active
        opacity: 1 $i
        visibility: visible $i
        transition: opacity 0.5s, visibility 0s $i

    > div

        > span
            display: inline-block $i
            border-radius: 6px $i
            padding: 4px 8px $i
            margin: 0 6px 0 0 $i
            background: $button $i
            color: black $i
            font-size: 12px $i

            > span:first-child
                font-weight: 200 $i

            > span:last-child
                font-weight: 800 $i

    > span
        position: absolute $i
        top: 0 $i
        height: 100% $i
        width: $ib-unit * 7 $i
        cursor: pointer $i
        background: url($ib-cross) center center no-repeat $i
        opacity: 0.8 $i

        &:hover
            opacity: 1 $i

    &.__copytables_infobar__lt, &.__copytables_infobar__lb
        left: 0 $i
        padding-left: $ib-unit * 7 $i
        padding-right: $ib-unit $i
        > span
            left: 0 $i

    &.__copytables_infobar__lt
        top: 0 $i
        border-bottom-right-radius: $ib-unit * 2 $i

    &.__copytables_infobar__lb
        bottom: 0 $i
        border-top-right-radius: $ib-unit * 2 $i

    &.__copytables_infobar__rt, &.__copytables_infobar__rb
        right: 0 $i
        padding-right: $ib-unit * 7 $i
        padding-left: $ib-unit * 2 $i
        > span
            right: 0 $i

    &.__copytables_infobar__rt
        top: 0 $i
        border-bottom-left-radius: $ib-unit * 2 $i

    &.__copytables_infobar__rb
        bottom: 0 $i
        border-top-left-radius: $ib-unit * 2 $i
