.__copytables__A__ { background: Highlight !important;  }
.__copytables__B__ { background: Highlight !important;  }
.__copytables__C__ { }
.__copytables__D__ { outline: 10px solid Highlight  !important; transition: outline 0.2s ease !important; }
