mixin mousepad(name)
    label.mousepad
        input(data-text=name)
        span

mixin modifier(code, mode)
    label.sticky
        input(type="checkbox" data-modifier=code data-mode=mode)
        span(data-modifier-name=code)

//- see keyboard.modifiers
mixin modifiers(mode)
    +modifier(1 << 10, mode)
    +modifier(1 << 11, mode)
    +modifier(1 << 12, mode)
    +modifier(1 << 13, mode)

doctype html
html
    head
        title Copytables Options
        script(src="options.js")
        link(rel="stylesheet" type="text/css" href="options.css")

    body

        h1 Copytables options

        h2 Modifier keys
        h3
            | Configure modifier keys for click-and-drag selection.
            | Note: some combinations might conflict with your system setup.

        .box
            table
                tr
                    td
                        b To select cells, hold
                    td(data-modifiers="cell")
                tr
                    td
                        b To select columns, hold
                    td(data-modifiers="column")
                tr
                    td
                        b To select rows, hold
                    td(data-modifiers="row")
                tr
                    td
                        b To select tables, hold
                    td(data-modifiers="table")
                tr
                    td
                        b To extend a selection, hold
                    td(data-modifiers="extend")


        h2 Capture mode
        h3
            | In the capture mode, you press a hot key first and then select with a single click.

        .box
            table
                tr
                    td: b Enabled
                    td
                        label.cb
                            input(type="checkbox" data-bool="capture.enabled")
                            span Yes
                tr
                    td
                        b Reset
                        i Automatically turn the capture mode off after selecting
                    td
                        label.cb
                            input(type="checkbox" data-bool="capture.reset")
                            span Yes
                tr
                    td: b Keyboard shortcuts
                    td
                        a(href="#" data-command="open_commands") Configure


        h2 Copy formats
        h3 Select copy formats you want to use. "Default" format is used when you select "Copy" from the Chrome menu.

        .box#copy-formats

        h2 Infobox
        h3 Infobox shows useful information about your selection (sum/average of numeric values etc).

        .box
            table
                tr
                    td: b Enabled
                    td
                        label.cb
                            input(type="checkbox" data-bool="infobox.enabled")
                            span Yes
                tr
                    td
                        b Sticky
                        i Keep infobox on screen until closed
                    td
                        label.cb
                            input(type="checkbox" data-bool="infobox.sticky")
                            span Yes
                tr
                    td: b Position
                    td
                        table.infobox-position
                            tr
                                td
                                    div.position0: span
                                    input(type="radio" name="infobox.position" data-select="infobox.position" data-select-value="0")
                                td
                                    div.position3: span
                                    input(type="radio" name="infobox.position" data-select="infobox.position" data-select-value="3")
                                td
                                    div.position1: span
                                    input(type="radio" name="infobox.position" data-select="infobox.position" data-select-value="1")
                                td
                                    div.position2: span
                                    input(type="radio" name="infobox.position" data-select="infobox.position" data-select-value="2")

        h2 Numbers
        h3 Configure how Copytables parses numbers.

        .box
            table
                tr
                    td
                        b Decimal point
                    td
                        input(type="text" data-text="number.decimal")
                tr
                    td
                        b Group separator
                    td
                        input(type="text" data-text="number.group")




        h2 Interface
        h3 Miscellaneous interface options.

        .box
            table
                tr
                    td
                        b Scroll speed
                        i Values are from 1 (very slow scrolling) to 100 (very fast).
                    td
                        input(type="number" data-text="scroll.amount")
                tr
                    td
                        b Scroll acceleration
                        i Values are from 0 (no acceleration) to 100 (max acceleration).
                    td
                        input(type="number" data-text="scroll.acceleration")


        h2 Support

        .box

            h4
                b
                    | If you find this extension useful, please consider
                    | <a href="https://merribithouse.net/copytables">making a donation</a>.
                    | Thanks!

            h4
                <a href="mailto:georg@merribithouse.net">Contact me</a> if you have questions or want to report a problem.


            h4
                a(href="https://merribithouse.net/copytables") About
                | &nbsp;|&nbsp;
                a(href="https://github.com/gebrkn/copytables") Source code
                | &nbsp;|&nbsp;
                | &copy; 2014~present Georg Barikin, georg@merribithouse.net

