body, select, input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #777;
}

p {
    padding: 14px 8px 14px 8px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    background: #ffffff;
    color: #475967;
    border-bottom: 1px dotted #ccc;
    margin: 0;
}

p:last-child {
    border: none;
}

p.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

p:not([class="disabled"]):hover {
    color: #8BB6D6;
}


b {
    width: 50px;
    display: inline-block;
    font-weight: bold;
}

a {
    background: #E8EAEC;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 8px;
    font-weight: normal;
    color: #555;
    transition: all 0.1s ease;

}
p:not([class="disabled"]) a:hover {
    background: #8BB6D6;
    color: white;

}

.in {
    background: black;
    color: white;
}
